  header{
    background-color: red;
    text-align: center;
    text-decoration-style: inherit;
  }
    body{

     background-size: 95%;
     background-color: white;
     margin: 2%;
  }
footer a:link, a:visited {
  background-color: pink;
  color: black;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}
a:hover, a:active {
  background-color: grey;
}
footer{
    background: #00b7ea;
    clear: both;
    text-align: center;
    border-radius: 40%;
}
footer p {
   display: block;
}
ul li{

    display:block;
    text-align: center;
    background-color: grey;
    margin: 2%;
    padding: 2%;
    border-radius: 30%;
}
h1{
    color: blue;
    text-align: center;
    display: block;
    background-color: grey;
    margin: 2%;
    padding: 3%;
}
h2{
  background-color: lightblue;
  text-align: center;
}
div{
    width: 98%;
    background-color: yellow;
}
@media all and (min-width: 720px) and (min-height: 480px)
{
  header{
    font-size: 200%;
  }
  ul li{
    font-size: 200%;
  }
  h1 h2{
    font-size: 200%;
  }
  
  div{
    float: left;
    width: 30%;
    margin: 1%;
    background-color: pink;
    }
<style>
  header{
    background-color: red;
    text-align: center;
    text-decoration-style: inherit;
  }
    body{

     background-size: 95%;
     background-color: white;
     margin: 2%;
  }
footer a:link, a:visited {
  background-color: red;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}
a:hover, a:active {
  background-color: white;
}
footer{
    clear: both;
    text-align: center;
    border-radius: 40%;
}
footer p {

   display: block;
}
ul li{

    display:block;
    text-align: center;
    background-color: white;
    margin: 2%;
    padding: 2%;
    border-radius: 30%;
}
h1{
    text-align: center;
    display: block;
    background-color: grey;
    margin: 2%;
    padding: 3%;
}
h2{
  text-align: center;
}
div{
    width: 98%;
    background-color: white;
}
@media all and (min-width: 720px) and (min-height: 480px)
{
  header{
    font-size: 160%;
  }
  ul li{
    font-size: 160%;
  }
  h1 h2{
    font-size: 160%;
  }
  
  div{
    float: left;
    width: 30%;
    margin: 1%;
    background-color: white;
    }
}
ul li :hover{
    background-color: red;
    font-size: 120%;
}
p{
    background-color: white;
    text-align: center;
    font-size: 160%;
}
 button{
            text-align: center;
            width: 15%;
            font-size: 150%;

        }
        #stuff{
            background-color: white;
            text-align: center;
            margin: 1%;
            border-radius: 40%;
        }
        button:hover{
          background-color: red;
          font-size: 120%;
          border-radius: 50%;
        }
 #date{
            text-align: center;
            margin: 1%;
        }
 }
 
